.contact {
  margin-left: 240px;
  padding: 60px;
  background: #020617;
  color: #e2e8f0;
}

.contact-icons a {
  font-size: 25px;
  margin-right: 15px;
  color: #e2e8f0;
}

.contact-icons a:hover {
  color: #38bdf8;
}