.skills {
  margin-left: 240px;
  padding: 60px;
  background: #020617;
  color: #e2e8f0;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.skill {
  background: #0f172a;
  padding: 12px 20px;
  border-radius: 20px;
  border: 1px solid #38bdf8;
}